@import 'rest';

html {
	-webkit-user-select: none;
	/* Chrome 49+ */
	-moz-user-select: none;
	/* Firefox 43+ */
	-ms-user-select: none;
	/* No support yet */
	user-select: none;
	/* Likely future */
}